.list {
  font-weight: bold;
  font-size: 18px;
  display: flex;
  border: 1px solid #eeeef2;
  padding: 10px 25px;
  justify-content: space-between;
  &__item {
    text-decoration: none;
    list-style-type: none;
  }
}
