.list {
  font-weight: bold;
  font-size: 18px;
  display: grid;
  padding: 10px 25px;
  grid-template-columns: 0.5fr 3fr 3fr 1fr;
  border: 1px solid #eeeef2;
  &__item {
    text-decoration: none;
    list-style-type: none;
  }
}
