@import "./shared/variables.scss";

@import "./fonts/Montserrat.scss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: $montserrat;
  &:after {
    box-sizing: inherit;
  }
  &:before {
    box-sizing: inherit;
  }
}
