@import "./shared/variables.scss";

@import "./fonts/Montserrat.scss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: $montserrat;
  &:after {
    box-sizing: inherit;
  }
  &:before {
    box-sizing: inherit;
  }
}

body {
  background: #f9f9fc;
}

.wrapper {
  max-width: $maxWidthContainer;
  width: 100%;
  margin: 0 auto;
}
