.inptBlock {
  display: flex;
}

.inpt {
  padding: 15px;
  border: 0;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  border-radius: 0.5rem;
  margin: 10px;
  width: 300px;
}

.inpt:hover {
  background-color: rgb(249, 250, 251);
}

.inpt::placeholder {
  color: #000000;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.25rem;
  opacity: 0.5;
}

.imgBlock {
  position: relative;
}

.img {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 20px;
  top: 22px;
}
